*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.header{
    background-image: url(./img/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    /* z-index: 9999;
    position: sticky;
    top: 0; */
}
.menu {
	background-color: red;
	position: fixed;
	width: 100%;
    /* position: sticky;
    top: 0;
    z-index: 999; */
}
.salman{
    background-color: blue;
    color: black;
    font-weight: 900;
    font-size: 20px;
}
.menu ul{
    text-align: center;

}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 22px;
    transition: .4s;
}
.menu ul li a:hover{
    background-color: black;
    color: white;
}
.footer{}
.footer p{
    font-size: 20px;
    padding: 10px 15px;
}